/* COLOR PALETTE*/
:root {
    --dark-primary-color: #00796B;
    --light-primary-color: #B2DFDB;
    --primary-color: #009688;
    --text-icons: #FFFFFF;
    --accent-color: #9E9E9E;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
    --backgorud-input: #E7E7E7;
    --error-color: #B00020;
}

/* FONTS */
@font-face {
    font-family: 'roboto black';
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: 'roboto bold';
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'roboto light';
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: 'roboto regular';
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: 'roboto thin';
    src: url("../fonts/Roboto-Thin.ttf");
}

/* DEFAULT STYLES */
html, body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: var(--primary-text);
    font-family: "roboto regular", serif;
}

h1, h2, h3, h4 {
    font-family: "roboto black", serif;
}

h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

a, image, button form {
    display: block;
}

button, input, textarea, select {
    outline: none;
}

input, textarea {
    cursor: default;
}

button {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

#main {
    display: block;
    width: 100%;
    min-height: calc(100vh - 90px);
}

/* HEADER */
header {
    position: fixed;
    background: var(--dark-primary-color);
    width: 100%;
    padding: 1em 0;
    z-index: 10;
}

header nav {
    width: calc(100% - 2em);
    max-width: 1400px;
    margin: 0 auto;
    color: #FFFFFF;
    justify-content: space-between;
}

header nav .inner * {
    display: inline-block;
}

header nav  .inner a {
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

header nav .inner a svg {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 .5em 0 0;
}

header nav .inner a h1 {
    display: inline-block;
}

header nav .inner button {
    color: #FFFFFF;
    margin:  0 1em 0 0;
    display: none;
}

header nav, header nav ul {
    display: flex;
    align-items: center;
}

header nav ul {
    margin: 0;
    padding: 0;
}

header nav ul li {
    list-style: none;
    margin: 0 1em 0 0;
    font-family: "roboto bold", serif;
}

.link {
    cursor: pointer;
    opacity: .7;
}

.link:hover, .link.active {
    opacity: 1;
    transition: all .3s ease;
}

/* FOOTER */
footer {
    background: var(--secondary-text);
    color: #FFFFFF;
    padding: 0 0 1em 0;
}

footer .inner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

footer .inner .content {
    width: 30%;
    min-width: 292px;
    margin: 1em auto 0 auto;
}

footer .inner .content svg {
    width: 20px;
    height: 20px;
    margin: 0 .5em 0 0;
    display: inline-block;
}

footer .inner .content h1 {
    text-transform: uppercase;
    display: inline-block;
}

footer .inner .content ul {
    margin: 0;
    padding: 0;
    text-align: justify;
}

footer .inner .content ul li {
    list-style: none;
    display: inline-block;
    margin: 1em 1em 0 0;
    text-align: justify;
}

footer .inner .content ul li:first-child {
    margin: 0;
}

footer .inner .content ul li span {
    display: inline-block;
    margin: 0 .5em 0 0;
}

footer .inner .content ul li i {
    margin: 0 .5em 0 0;
}

[ng-messages] {
    height: 14px;
    margin: 4px 0 0 0;
}

[ng-messages] p {
    font-size: 12px;
    color: var(--error-color);
}

form input.ng-invalid.ng-touched, form input.ng-invalid.ng-touched::placeholder {
    color: var(--error-color);
}

/* SCROLLBAR */
*::-webkit-scrollbar {
    background: var(--accent-color);
    width: 4px;
}

*::-webkit-scrollbar-button {
    display: none;
}

*::-webkit-scrollbar-thumb {
    background: var(--dark-primary-color);
}

/* NG RIPPLE */
[angular-ripple] {
    position: relative;
    overflow: hidden;
    transition: all .2s ease;
}
.angular-ripple {
    display: block;
    position: absolute;
    background-color: rgba(177,222,218,0.7);
    border-radius: 50%;
    transform: scale(0);
}
.angular-ripple.animate {
    animation: ripple .5s linear;
}

@keyframes ripple {
    to {
        opacity: 0;
        transform: scale(4);
    }
}