<div style="width: 100%">
    <h2 style="font-size: 26px; color: #169587; text-align: center">Hello {{name}}</h2>

    <p style="margin: 4em auto; color: #212121; width: 60%; text-align: center;">Here is your code for validate your authentication request.</p>

    <h3 style="font-size: 18px; color: #212121; text-align: center; font-weight: 600;">
        {{code}}
    </h3>
</div>