<div style="width: 100%">
    <h2 style="font-size: 26px; color: #169587; text-align: center">Hello {{name}}</h2>

    <p style="margin: 4em auto; color: #212121; width: 60%; text-align: center;">We have been received your request to restore your password account, please in order to restore your password, click the button 'Restore password'. If you didd not ask for this, just ignore this message.</p>

    <a href="{{url}}" style="display: block; font-size: 18px; color: #FFFFFF; background: #169587; padding: 8px 16px; text-decoration: none; width: 200px; margin: 0 auto; text-align: center; border-radius: 6px;">
        Restore password
    </a>
</div>