<div style="width: 100%">
    <h2 style="font-size: 26px; color: #169587; text-align: center">Welcome to Auth app</h2>

    <p style="margin: 4em auto; color: #212121; width: 60%; text-align: center;">Hello <span style="font-weight: 600;">{{name}}</span>, thanks for joining to our community! We are so happy to have you with us. Please in order to end your registration proccess, click the button 'Activate account'.</p>

    <a href="{{url}}" style="display: block; font-size: 18px; color: #FFFFFF; background: #169587; padding: 8px 16px; text-decoration: none; width: 200px; margin: 0 auto; text-align: center; border-radius: 6px;">
        Activate Account
    </a>
</div>