/* SIDEBAR */
#sidebar {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    z-index: 8;
    transform: translateX(-100%);
    transition: all .3s ease;
}

#sidebar.active {
    transform: none;
}

#sidebar .menu {
    width: 90%;
    max-width: 275px;
    height: 100%;
    background: var(--accent-color);
}

#sidebar .menu ul {
    padding: 60px 0 0 0;
}

#sidebar .menu ul li {
    list-style: none;
    width: calc(100% - 4em);
    padding: 1em;
    color: #FFFFFF;
    font-weight: bold;
    opacity: .7;
    border-radius: 5px;
    margin: auto;
}

#sidebar .menu ul li:hover, #sidebar .menu ul li.active {
    background: rgba(255,255,255,.4);
}

#index {
    width: 100%;
    padding: 58px 0 0 0;
}

/* JUMBOTRON */
.principal {
    background: var(--primary-color);
    color: #FFFFFF;
    padding: 4em 0;
}

.principal .inner, .features .inner {
    width: calc(100% - 2em);
    max-width: 1200px;
    margin: auto;
}

.principal .inner {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.principal .inner svg {
    width: 260px;
    height: 260px;
}

.principal .inner .description {
    width: calc(100% - 2em);
    max-width: 530px;
}

.principal .inner .description h1 {
    font-size: 45px;
    text-shadow: 0 4px 4px rgba(0,0,0,.22);
}

.principal .inner .description p {
    margin: 2em 0 0 0;
}

.principal .inner .description button {
    padding: 10px;
    min-width: 130px;
    background: #FFFFFF;
    color: var(--dark-primary-color);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 2em 0 0 0;
    position: relative;
    text-align: left;
}

.principal .inner .description button i {
    position: absolute;
    right: .5em;
}

/* FEATURES */
.features {
    padding: 4em 0 2em 0;
}

.features .inner h1, .features .inner p {
    text-align: center;
}

.features .inner h1 {
    font-size: 35px;
    font-family: "roboto thin", serif;
}

.features .inner p {
    margin: 2em 0 0 0;
}

.features .inner .list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features .inner .list .feature {
    width: calc(100% - 1em);
    max-width: 275px;
    margin: 4em 0 0 0;
    padding: 1em;
    color: var(--primary-text);
}

.features .inner .list .feature i, .features .inner .list .feature h2, .features .inner .list .feature p {
    text-align: center;
}

.features .inner .list .feature i {
    display: block;
    font-size: 40px;
}

.features .inner .list .feature h2 {
    margin: 1em 0 0 0;
    font-family: "roboto thin", serif;
}

.features .inner .list .feature p {
    color: var(--secondary-text);
}


@media screen and (max-width: 530px) {
    #sidebar {
        display: block;
    }

    .principal .inner .description {
        margin: 2em 0 0 0;
    }

    .principal .inner .description h1 {
        text-align: center;
    }

    .principal .inner .description p {
        text-align: justify;
    }

    .principal .inner .description button {
        width: 100%;
    }
}