<div style="width: 100%">
    <h2 style="font-size: 26px; color: #169587; text-align: center">Hola {{name}}</h2>

    <p style="margin: 4em auto; color: #212121; width: 60%; text-align: center;">Hemos recibido tu solicitud para restaurar la contraseña de tu cuenta, para restaurar tu contraseña, da clic en el boton 'Restaurar contraseña'. Si tu no hiciste esta solicitud, por favor ignora este mensaje.</p>

    <a href="{{url}}" style="display: block; font-size: 18px; color: #FFFFFF; background: #169587; padding: 8px 16px; text-decoration: none; width: 200px; margin: 0 auto; text-align: center; border-radius: 6px;">
        Restaurar contraseña
    </a>
</div>