<div style="width: 100%">
    <h2 style="font-size: 26px; color: #169587; text-align: center">Bienvenido a Auth app</h2>

    <p style="margin: 4em auto; color: #212121; width: 60%; text-align: center;">Hola <span style="font-weight: 600;">{{name}}</span>, Gracias por unirte a nuestra comunidad! Estamos muy felices de que estes con nosotros. Para finalizar tu registro, por favor da clic en el botón 'Activar cuenta'.</p>

    <a href="{{url}}" style="display: block; font-size: 18px; color: #FFFFFF; background: #169587; padding: 8px 16px; text-decoration: none; width: 200px; margin: 0 auto; text-align: center; border-radius: 6px;">
        Activar cuenta
    </a>
</div>