<section class="home">
    <div ng-if="!vm.connection" class="error">
        <p translate="com.app.chat.connection.error"></p>
    </div>
    <div class="users">
        <h2 translate="com.app.user.online.list"></h2>
        <div class="user" ng-repeat="onlineUser in vm.onlineUsers">
            <i class="fas fa-user"></i>
            <div class="inner">
                <h4>{{onlineUser.name}}</h4>
                <p>{{onlineUser.email}}</p>
            </div>
        </div>
    </div>
    <div id="chat" class="chat">
        <div class="message" ng-repeat="message in vm.messages" ng-class="{'own': message.user.email === vm.profile.email}">
            <h4>{{message.user.name}}</h4>
            <p>{{message.message}}</p>
        </div>
    </div>
    <form name="vm.form" ng-submit="vm.send()">
        <input type="text" ng-model="vm.data.message" placeholder="{{'com.app.form.chat.placeholder'|translate}}" title="{{'com.app.form.chat.placeholder'|translate}}">
        <button>{{'com.app.form.chat.submit'|translate}} <i class="fas fa-chevron-right"></i></button>
    </form>
</section>