<section class="principal">
    <div class="inner">
        <ng-logo color="#FFFFFF"></ng-logo>
        <div class="description">
            <h1>AUTH APP</h1>
            <p translate="com.app.principal.description"></p>
            <button ui-sref="user.home" ng-ripple>{{'com.app.principal.button'|translate}} <i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</section>

<section class="features">
    <div class="inner">
        <h1 translate="com.app.features.title"></h1>
        <p translate="com.app.features.description"></p>
        <div class="list">
            <div class="feature">
                <i class="fas fa-lock"></i>
                <h2 translate="com.app.features.item.1.title"></h2>
                <p translate="com.app.features.item.1.description"></p>
            </div>
            <div class="feature">
                <i class="fas fa-address-card"></i>
                <h2 translate="com.app.features.item.2.title"></h2>
                <p translate="com.app.features.item.2.description"></p>
            </div>
            <div class="feature">
                <i class="fas fa-users"></i>
                <h2 translate="com.app.features.item.3.title"></h2>
                <p translate="com.app.features.item.3.description"></p>
            </div>
        </div>
    </div>
</section>