
/* Mobile */
@media screen and (max-width: 768px) {
    section.security .inner {
        margin: 5em auto 0 auto;
    }

    section.security .inner svg, section.security .inner hr {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    section.security .inner form button, section.security .inner .message button {
        width: 100%;
    }
}