#sidebar {
    display: none;
}

section.security {
    padding: 58px 0 0 0;
}

section.security .inner {
    width: calc(100% - 2em);
    max-width: 1400px;
    margin: 15vh auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 0 4em 0;
}

section.security .inner hr {
    width: 2px;
    margin: -50px 3em -50px 1em;
    height: 400px;
    border: 0;
    background: var(--primary-color);
}

section.security .inner svg {
    width: 300px;
    height: auto;
}

section.security .inner form, section.security .inner div.message {
    width: 100%;
    max-width: 375px;
}

section.security .inner div.message p {
    margin: 2em 0 0 0;
    text-align: justify;
}

section.security .inner div.message p span {
    font-weight: 600;
}

section.security .inner form h2 {
    margin: 0 0 1em 0;
}

section.security .inner form .input {
    margin: 1em auto 0 auto;
}

section.security .inner form input {
    width: 100%;
    margin: 0;
    line-height: 2.5em;
    text-indent: 1em;
    border-radius: 2px;
    background: var(--backgorud-input);
    border: none;
    font-weight: 600;
}

section.security .inner form input::placeholder {
    font-weight: 600;
}

section.security .inner form a {
    display: inline-block;
    margin: 10px 0 0 0;
    color: var(--primary-text);
    text-decoration: none;
    cursor: pointer;
}

section.security .inner form a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

section.security .inner form button, section.security .inner .message button {
    width: 200px;
    margin: 4em auto 0 auto;
    border: none;
    border-radius: 2px;
    background: var(--primary-color);
    line-height: 2.5em;
    color: #FFFFFF;
    text-align: left;
    text-indent: 1em;
    font-weight: 600;
    padding: 0;
}

section.security .inner form button i, section.security .inner .message button i {
    position: absolute;
    right: .5em;
    top: 10px;
}