<section class="security">
    <div class="inner">
        <ng-logo color="#009688"></ng-logo>
        <hr>
        <div class="message">
            <h2 translate="com.app.activate.account.title"></h2>
            <p ng-if="vm.activation" translate="com.app.activate.account.success"></p>
            <p ng-if="!vm.activation" translate="com.app.activate.account.error"></p>
            <button ng-ripple ui-sref="security.login">{{'com.app.header.link.2'|translate}} <i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</section>