<section class="security">
    <div class="inner">
        <ng-logo color="#009688"></ng-logo>
        <hr>
        <form ng-if="!vm.success" name="vm.form" ng-submit="vm.validate.form(vm.form) || vm.submit()" novalidate>
            <h2 translate="com.app.forgot.form.title"></h2>
            <div class="message">
                <p translate="com.app.forgot.form.description"></p>
            </div>
            <div class="input">
                <input type="email" name="email" ng-model="vm.data.email" placeholder="{{'com.app.form.email.placeholder'|translate}}"
                       title="{{'com.app.form.name.placeholder'|translate}}" ng-pattern="vm.validate.regex.email" ng-model-options="vm.validate.modelOptions" required>
                <div ng-messages="vm.form.email.$error" role="alert">
                    <p ng-if="vm.form.email.$touched || vm.form.email.$dirty" ng-message="required" translate="com.app.form.field.error.required"></p>
                    <p ng-message="pattern" translate="com.app.form.email.error.pattern"></p>
                </div>
            </div>
            <div>
                <a ui-sref="security.login" translate="com.app.header.link.2"></a>
            </div>
            <button ng-ripple ng-disabled="vm.submitting">{{'com.app.forgot.form.submit'|translate}} <i class="fas fa-chevron-right"></i></button>
        </form>
        <div ng-if="vm.success" class="message">
            <h2 translate="com.app.forgot.form.title"></h2>
            <p translate="com.app.forgot.form.success" translate-values="vm.data"></p>
        </div>
    </div>
</section>