<section class="security">
    <div class="inner">
        <ng-logo color="#009688"></ng-logo>
        <hr>
        <form ng-if="!vm.success" name="vm.form" ng-submit="vm.validate.form(vm.form) || vm.submit()" novalidate>
            <h2 translate="com.app.login.form.title"></h2>
            <div class="input">
                <input type="email" name="email" ng-model="vm.data.username" placeholder="{{'com.app.form.email.placeholder'|translate}}"
                       title="{{'com.app.form.name.placeholder'|translate}}" ng-pattern="vm.validate.regex.email" ng-model-options="vm.validate.modelOptions" required>
                <div ng-messages="vm.form.email.$error" role="alert">
                    <p ng-if="vm.form.email.$touched || vm.form.email.$dirty" ng-message="required" translate="com.app.form.field.error.required"></p>
                    <p ng-message="pattern" translate="com.app.form.email.error.pattern"></p>
                </div>
            </div>
            <div class="input">
                <input type="password" name="password" ng-model="vm.data.password" placeholder="{{'com.app.form.password.placeholder'|translate}}"
                       title="{{'com.app.form.password.placeholder'|translate}}" ng-model-options="vm.validate.modelOptions" required>
                <div ng-messages="vm.form.password.$error" role="alert">
                    <p ng-if="vm.form.password.$touched || vm.form.password.$dirty" ng-message="required" translate="com.app.form.field.error.required"></p>
                </div>
            </div>
            <div>
                <a ui-sref="security.forgot" translate="com.app.forgot.password.link"></a> | <a ui-sref="security.register" translate="com.app.header.link.1"></a>
            </div>
            <button ng-ripple ng-disabled="vm.submitting">{{'com.app.login.form.submit'|translate}} <i class="fas fa-chevron-right"></i></button>
        </form>
    </div>
</section>