<section class="security">
    <div class="inner">
        <ng-logo color="#009688"></ng-logo>
        <hr>
        <form ng-if="!vm.success && !vm.error" name="vm.form" ng-submit="vm.validate.form(vm.form) || vm.submit()" novalidate>
            <h2 translate="com.app.reset.form.title"></h2>
            <div class="input">
                <input type="password" name="password" ng-model="vm.data.password" placeholder="{{'com.app.form.password.placeholder'|translate}}"
                       title="{{'com.app.form.password.placeholder'|translate}}" ng-pattern="vm.validate.regex.password" ng-model-options="vm.validate.modelOptions" required>
                <div ng-messages="vm.form.password.$error" role="alert">
                    <p ng-if="vm.form.password.$touched || vm.form.password.$dirty" ng-message="required" translate="com.app.form.field.error.required"></p>
                    <p ng-message="pattern" translate="com.app.form.password.error.pattern"></p>
                </div>
            </div>
            <div class="input">
                <input type="password" name="password2" ng-model="vm.data.password2" placeholder="{{'com.app.form.password2.placeholder'|translate}}"
                       title="{{'com.app.form.password2.placeholder'|translate}}" ng-pattern="vm.data.password" ng-model-options="vm.validate.modelOptions" required>
                <div ng-messages="vm.form.password2.$error" role="alert">
                    <p ng-if="vm.form.password2.$touched || vm.form.password2.$dirty" ng-message="required" translate="com.app.form.field.error.required"></p>
                    <p ng-message="pattern" translate="com.app.form.password2.error.pattern"></p>
                </div>
            </div>
            <button ng-ripple ng-disabled="vm.submitting">{{'com.app.reset.form.submit'|translate}} <i class="fas fa-chevron-right"></i></button>
        </form>
        <div ng-if="vm.success" class="message">
            <h2 translate="com.app.reset.form.title"></h2>
            <p translate="com.app.reset.form.success"></p>
            <button ng-ripple ui-sref="security.login">{{'com.app.header.link.2'|translate}} <i class="fas fa-chevron-right"></i></button>
        </div>
        <div ng-if="vm.error" class="message">
            <h2 translate="com.app.reset.form.title"></h2>
            <p translate="com.app.reset.token.error"></p>
            <button ng-ripple ui-sref="security.login">{{'com.app.header.link.2'|translate}} <i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</section>