<header>
    <nav>
        <div class="inner">
            <button ng-click="vm.menu = !vm.menu" class="hamburger hamburger--collapse" type="button" ng-class="{'is-active': vm.menu}">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
            </button>

            <a ui-sref="index.home" class="logo">
                <ng-logo color="#FFFFFF"></ng-logo>
                <h1>Auth app</h1>
            </a>
        </div>
        <ul>
            <li class="lang">
                <span ng-click="vm.translate.setLang('es_MX')" ng-class="{'active': vm.translate.current === 'es_MX'}" class="link">ES</span>
                <span>|</span>
                <span ng-click="vm.translate.setLang('en_US')" ng-class="{'active': vm.translate.current === 'en_US'}" class="link">EN</span>
            </li>
        </ul>
    </nav>
</header>

<div id="index" ui-view></div>