<section class="security">
    <div class="inner">
        <ng-logo color="#009688"></ng-logo>
        <hr>
        <form name="vm.form" ng-submit="vm.validate.form(vm.form) || vm.submit()" novalidate>
            <div class="message">
                <h2 translate="com.app.validate.form.title"></h2>
                <p translate="com.app.validate.form.description" translate-values="vm.data"></p>
            </div>
            <div class="input">
                <input type="text" name="code" ng-model="vm.data.code" placeholder="{{'com.app.form.code.placeholder'|translate}}"
                       title="{{'com.app.form.code.placeholder'|translate}}" ng-pattern="vm.validate.regex.code" ng-model-options="vm.validate.modelOptions" required>
                <div ng-messages="vm.form.code.$error" role="alert">
                    <p ng-if="vm.form.code.$touched || vm.form.code.$dirty" ng-message="required" translate="com.app.form.field.error.required"></p>
                    <p ng-message="pattern" translate="com.app.form.code.error.pattern"></p>
                </div>
            </div>
            <div>
                <a ng-click="vm.resend()" translate="com.app.resend.code.link"></a>
            </div>
            <button ng-ripple ng-disabled="vm.submitting">{{'com.app.validate.form.submit'|translate}} <i class="fas fa-chevron-right"></i></button>
        </form>
    </div>
</section>