@media screen and (max-width: 768px) {
    #index.active {
        width: calc(100% - 2em);
        margin: 0 auto;
        padding: 58px 0 0 0;
    }

    #sidebar {
        display: block;
    }

    .menu, #sidebar {
        height: 120vh;
    }
}

@media screen and (max-width: 425px) {
    #sidebar {
        display: block;
    }

    .menu {
        height: 120vh;
    }

    header nav ul li.name {
        display: none;
    }

    footer .inner .content.links {
        display: none;
    }

    #main, #index {
        min-height: calc(100vh - 208px);
    }
}