/* SIDEBAR */
#sidebar {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    z-index: 8;
    transform: translateX(-100%);
    transition: all .3s ease;
}

#sidebar.active, .menu.active {
    transform: none;
}

.menu {
    position: fixed;
    width: 90%;
    max-width: 275px;
    height: calc(100vh - 90px);
    transform: translateX(-100%);
    transition: all .3s ease;
    background: #FFFFFF;
    z-index: 9;
}

.menu ul {
    padding: 60px 0 0 0;
}

.menu ul li {
    list-style: none;
    width: calc(100% - 4em);
    padding: 1em;
    color: var(--primary-text);
    font-weight: bold;
    opacity: .7;
    border-radius: 5px;
    margin: auto;
}

.menu ul li:hover, #sidebar .menu ul li.active {
    background: var(--backgorud-input);
}

.menu ul li span.link.active {
    opacity: 1;
}

header nav .inner button {
    display: inline-block;
}

/* INDEX CONTAINER */
#index {
    width: calc(100% - 2em);
    margin: 0 auto;
    padding: 58px 0 0 0;
}

#index.active {
    width: calc(100% - 300px);
    margin: 0 0 0 auto;
}

/* HOME CHAT */
section.home form {
    display: flex;
    align-items: flex-end;
    padding: 0 0 2em 0;
}

section.home form button {
    width: 85px;
    margin: 0 auto;
    border: none;
    border-radius: 2px;
    background: var(--primary-color);
    line-height: 2.5em;
    color: #FFFFFF;
    text-align: left;
    text-indent: 1em;
    font-weight: 600;
    padding: 0;
}

section.home form input {
    width: calc(100% - 85px);
    background: var(--backgorud-input);
    border: none;
    padding: 8px;
    border-radius: 2px;
    text-indent: 1em;
    resize: none;
    height: 17px;
}

section.home form input, section.home form input::placeholder {
    font-family: "roboto regular", serif;
    font-weight: 600;
}

section.home form button i {
    position: absolute;
    right: .5em;
    top: 10px;
}

section.home .chat, section.home form, section.home .users {
    width: calc(100% - 2em);
    margin: 2em auto 0 auto;
    max-width: 530px;
}

section.home .users h2 {
    font-family: "roboto thin", serif;
}

section.home .users .user {
    background: var(--light-primary-color);
    width: calc(100% - 2em);
    border-radius: 4px;
    padding: .5em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1em 0 0 0;
}

section.home .users .user i {
    font-size: 3em;
}

section.home .users .user .inner {
    margin: 0 0 0 .5em;
}

section.home .users .user h4 {
    font-family: "roboto regular", serif;
    text-transform: capitalize;
    font-size: 16px;
}

section.home .chat {
    border: 1px solid var(--backgorud-input);
    border-radius: 4px;
    height: 400px;
    overflow: auto;
}

section.home .chat .message {
    background: var(--backgorud-input);
    width: 221px;
    border-radius: 4px;
    padding: .5em;
    margin: 1em 0 0 1em;
}

section.home .chat .message.own {
    margin: 1em 1em 0 auto;
    background: var(--light-primary-color);
}

section.home .error {
    width: 100%;
    background: #f6e4e8;
    padding: 1em 0;
    max-width: 530px;
    margin: 0 auto;
}

section.home .error p {
    margin: 0 1em;
    font-weight: 600;
    font-family: "roboto regular", serif;
    color: var(--error-color);
}