<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	        width="750.596px" height="750.596px" viewBox="0 0 750.596 750.596" xml:space="preserve">
            <g>
	            <g class="logo" ng-style="{ 'fill': color }">
		            <g>
			            <path d="M680.116,144.579c0,0-62.341-4.235-94.926-35.619c-34.079-32.81-38.466-92.888-38.466-92.888S462.018,0,375.82,0
				        c-84.694,0-170.905,16.072-170.905,16.072s-5.748,60.418-38.089,91.568c-34.299,33.058-95.302,36.939-95.302,36.939
				        s-6.543,117.692,2.8,219.924c9.192,100.518,32.764,199.967,120.194,275.336c71.469,61.6,178.465,110.756,178.465,110.756
				        s83.99-38.566,144.837-80.711c66.856-46.307,129.749-109.658,148.998-230.211C687.175,312.215,680.116,144.579,680.116,144.579z
				        M493.31,619.17c-40.438,28.008-93.196,54.109-112.445,63.32V372.771H126.746c-0.211-2.147-0.423-4.291-0.621-6.438
				        c-7.739-84.62-2.322-182.088-2.322-182.088s50.509-3.223,78.904-30.57c26.776-25.811,31.541-75.81,31.541-75.81
				        s71.377-13.299,141.494-13.299c1.72,0,3.44,0.014,5.16,0.028v308.209l242.479,0.423c-1.688,18.844-3.872,37.57-6.709,55.348
				        C600.738,528.377,548.661,580.828,493.31,619.17z"/>
		            </g>
	            </g>
            </g>
        </svg>